{% extends "layout.html" %}

{% block title %}
    Attributes
{% endblock %}

{% block main %}
    <section class="ack">
        <div class="acknowledge_attr">
            <p>The sounds used were borrowed to copmlete a project. Below, find the rights owners and a link to their material.</p>
        </div>
    </section>

    <section class="attributes table_section">
        <table class="table">
            <thead>
            <tr>
                <th class="table_head">Sounds</th>
                <th class="table_head">Where it's From and Link</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table_row">
                <td class="table_data">Campfire, Wind, and River</td>
                <td><a href="https://www.youtube.com/watch?v=xx_w4RFwUuw">Calmed By Nature</a></td>
            </tr>
            <tr class="table_row">
                <td class="table_data">Crashing Waves</td>
                <td><a href="https://www.youtube.com/watch?v=59vAvqo8Et0">ourlocationhistory</a></td>
            </tr>
             <tr class="table_row">
                <td class="table_data">Koto Zen Garden</td>
                <td><a href="https://www.youtube.com/watch?v=FpqivQ6P0s4">RelaxingTube</a></td>
            </tr>
             <tr class="table_row">
                <td class="table_data">Meditative LoFi</td>
                <td><a href="https://www.youtube.com/watch?v=nhZyPQzx7JI">chilli music</a></td>
            </tr>
            <tr class="table_row">
                <td class="table_data">Mountian Wind and an Open Fire</td>
                <td><a href="https://www.youtube.com/watch?v=EqqpcFj8G-s">Virtual FIreplace</a></td>
            </tr>
             <tr class="table_row">
                <td class="table_data">Relaxing River</td>
                <td><a href="https://www.youtube.com/watch?v=ScLySiULmvA">Sleep and Rexlaxation Music</a></td>
            </tr>
             <tr class="table_row">
                <td class="table_data">Tibetan Bowls (Indoors)</td>
                <td><a href="https://www.youtube.com/watch?v=kSaOxSLEHfg">MassageASMR</a></td>
            </tr>
             <tr class="table_row">
                <td class="table_data">Tibetan Bowls Outdoors</td>
                <td><a href="https://youtu.be/VvO_7ejeKVc">Olivia Kissper</a></td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}